<div class="vet-container">
  <div #cardRow class="vet-content">
    <div *ngFor="let appObj of appointmentMap | keyvalue">
      <h4 class="m-title-bottom">{{appObj.key}}</h4>
      <!--    todo -set indexes to all ngFor-->
      <div class="m-btn-card-row row">
        <!--      todo: flex or col? - see with one element or after testing with real user-->
        <app-user-card class="col-4 user-card-component m-btn-card-row" *ngFor="let appointment of appObj.value"
                       [cardData]="mapToCardData(appointment)"
                       (cardButtonEmitter)="openSectionWithAnimalDetails($event)"
                       (cardButtonCancelEmitter)="cancelAppointment($event)"
        ></app-user-card>
      </div>
    </div>
  </div>
</div>
