.text-card-img-container {
  margin-bottom: 2rem;
  display: flex;;
  justify-content: center;
}

.card-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.card-subtitle, .card-title {
  text-align: center;
}
