<div class="vet-container">
  <div class="vet-content d-flex">
    <app-sidebar class="user-sidebar p-around" [sidebarContent]="listOfClients"
                 (clickOnList)="getUserData($event)"></app-sidebar>
    <div class="user-content p-around">
      <div *ngIf="isUserDataFetched">
        <h4>{{userData.name}} : {{userData.phone}}</h4>
        <div>
          <span *ngFor="let  animal of userData.animals"
                class="me-2 pointer" (click)="getAnimalData(animal.animalId)">{{animal.animalName}} | </span>
        </div>
        <div class="m-top-small m-btn-small border-bottom" *ngIf="isAnimalDataFetched">
          <span>Varsta: {{animalData.age}} | </span>
          <span>Greutate: {{animalData.weight}} | </span>
          <span>Grupa de sange: {{animalData.bloodType}} | </span>
          <span>Ziua de nastere: {{animalData.birthDay}} | </span>
<!--          <span>Sterilizat/a: {{animalData.isSterilized}} | </span>-->
        </div>
        <div class="m-top-small" *ngIf="isAnimalMedicalHistoryFetched">
            <h4 class="m-btn-small">{{diseasesTitle}}</h4>
            <ul>
              <li class="m-btn-small" *ngFor="let disease of animalMedicalHistory.diseases">{{disease}}</li>
            </ul>
            <h4 class="m-btn-small">{{recommendationTitle}}</h4>
          <ul>
            <li class="m-btn-small" *ngFor="let recommendation of animalMedicalHistory.recommendations">{{recommendation}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
