<div class="vet-container">
  <div class="vet-content m-btn-header d-flex">
    <div>
      <input type="text" autocomplete="none"
             class="form-control m-btn-small"
             [placeholder]="searchTextPlaceholders.SEARCH_BY_NAME_PLACEHOLDER"
             [(ngModel)]="nameOrPhoneToSearch"
             (ngModelChange)="filterAllUsers()"
             (focus)="onFocusUser()">
      <ul class="list-group" #searchedUserListElement>
        <li class="list-group-item list-group-item-action dropdown-elem d-flex justify-content-between"
            *ngFor="let user of searchUserList">
          <span class="m-1">{{user.name}} | {{user.phone}} | {{user.email}}</span>
          <button class="btn button--active" (click)="addUserToDoctorList(user)">
            {{searchTextPlaceholders.ADD_USER_TO_DOCTOR_LIST_BTN}}</button>
        </li>
      </ul>
    </div>
    <div class="m-btn-small">
      <label>{{searchTextPlaceholders.SEARCH_BY_PHONE_LABEL}}</label>
      <input type="checkbox" class="m-btn-small" [(ngModel)]="isSearchingByPhone"/>
    </div>
  </div>
  <div class="vet-content d-flex">
    <app-sidebar class="user-sidebar p-around" [sidebarContent]="listOfClients"
                 (clickOnList)="getUserData($event)"
                 (clickOnAddNewItem)="openCreateUserWithoutAccountDialog()"></app-sidebar>
    <div class="user-content p-around">
      <div *ngIf="isUserDataFetched">
        <div class="d-flex justify-content-between">
          <h4>{{userData?.name}} : {{userData?.phone}}</h4>
        </div>
        <div>
          <span *ngFor="let  animal of userData.animals"
                class="me-2 pointer highlighted-link"
                (click)="getAnimalData(animal.animalId)">{{animal.animalName}} | </span>
        </div>
        <div class="m-top-small m-btn-small border-bottom d-flex justify-content-between" *ngIf="isAnimalDataFetched">
          <div>
            <span>{{animalLabels.age}} {{animalData.age}} | </span>
            <span>{{animalLabels.weight}} {{animalData.weight}} | </span>
            <span>{{animalLabels.bloodType}} {{animalData.bloodType}} | </span>
            <span>{{animalLabels.birthDay}} {{animalData.birthDay}} | </span>
            <!--          <span>Sterilizat/a: {{animalData.isSterilized}} | </span>-->
          </div>
          <div>
            <button class="btn btn-light">{{animalLabels.editAnimalData}}</button>
          </div>
        </div>
        <div class="m-btn-small" *ngIf="isAnimalMedicalHistoryFetched">
          <div class="d-flex justify-content-between">
            <h4 class="m-btn-small">{{quickAppointmentPeriods.title}}</h4>
            <div>
              <button class="btn btn-light small-button me-2"
                      (click)="addRecurrentAppointment('day')">{{quickAppointmentPeriods.oneDay}}</button>
              <button class="btn btn-light small-button me-2"
                      (click)="addRecurrentAppointment('week')">{{quickAppointmentPeriods.twoWeeks}}</button>
              <button class="btn btn-light small-button me-2"
                      (click)="addRecurrentAppointment('month')">{{quickAppointmentPeriods.oneMonth}}</button>
              <button class="btn btn-light small-button me-2"
                      (click)="addRecurrentAppointment('year')">{{quickAppointmentPeriods.oneYear}}</button>
              <button class="btn btn-light small-button me-2"
                      (click)="openAddAppointmentModal()">{{quickAppointmentPeriods.customAppointment}}</button>
            </div>
          </div>
        </div>
        <div class="m-top-small" *ngIf="isAnimalMedicalHistoryFetched">
          <h4 class="m-btn-small">{{diseasesTitle}}</h4>
          <ul>
            <li class="m-btn-small" *ngFor="let disease of animalMedicalHistory?.diseases">{{disease}}</li>
          </ul>
          <h4 class="m-btn-small">{{recommendationTitle}}</h4>
          <ul>
            <li class="m-btn-small"
                *ngFor="let recommendation of animalMedicalHistory?.recommendations">{{recommendation}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
