<div>
  <div class="d-flex col-flex-col-center" [ngStyle]="headerContent?.style.headerContainer">
    <div class="header-content header-content-small">
      <div class="header-text mb-5">
        <h2 *ngIf="isTitle" class="text-center header-title">{{headerContent?.title}}</h2>
        <p *ngIf="isSubtitle" class="text-center p-subtitle">{{headerContent?.subtitle}}</p>
      </div>
      <div class="header-btn-container d-flex justify-content-center" *ngIf="isButton">
        <button type="button" class="btn button--active" (click)="headerButtonClickedEmitter.emit()">{{headerContent?.buttonText}}</button>
      </div>
    </div>
  </div>
</div>
