<div class="dialog-container bg-alternative p-around">
  <div class="d-flex justify-content-end m-btn-small"><span class="icon-close modal-close-icon"
                                                            (click)="onCancelForm(false)"></span></div>
  <h4 class="text-center m-btn-small">User fara cont</h4>
  <div class="user-animal-data-container">
    <label>Nume Prenume:</label>
    <p class="m-btn-small bold-text">{{data?.userName}}</p>
    <label>Telefon:</label>
    <p class="m-btn-small bold-text">{{data?.userPhone}}</p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-light" type="button" (click)="onCancelForm(true)">
      Sterge programarea
    </button>
  </div>
</div>
