<div>
  <div class="vet-content schedule-container">


<!--    START SCHEDULE -->
    <h2 class="out-of-office-container">Seteaza-ti programul de lucru</h2>
    <div class="half-width m-auto-h">
<!--      todo error in calendar per week when doctor has set a 45 minute interval
          set 45 minute interval and click on the calendar day starting at 9:30 / 10:30 -> the minutes are not shown and we can save the appointment
          the appointment is saved at 9:30 even though we don't have this option and have only 0 and 45 minutes-->

    </div>
    <app-schedule-setter *ngFor="let day of weekDaysList" [day]="day" (checkEmitter)="getAndSetDay($event)"
                         [doctorSchedule]="storedDoctor.schedule"></app-schedule-setter>
    <div class="schedule-btn-container">
      <button class="schedule-btn btn button--active" [disabled]="isSaveScheduleDisabled()"
              (click)="saveSchedule()">{{scheduleBtnText}}</button>
    </div>
  </div>
</div>
