//appointment dialog
#cdk-overlay-1 {
  width: 25%;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.35rem;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width: 641px) {
  .vet-content {
    //width: $m-full-size;
  }

  //appointment dialog
  .doctor-appointment-dialog {
    width: $full-size !important;
  }

  .modal-footer {
    padding: 0 !important;
    width: $full-size !important;
  }

  .modal-footer button {
    width: $full-size !important;
  }
  //  footer
  .footer-content {
    flex-direction: column-reverse;
  }
  .footer__form__container {
    width: $full-size !important;
    padding-bottom: $p-card;
  }

  .user-card-component {
    min-width: 17.5rem;
  }

  // user animal data info
  .dialog-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  .user-animal-data-container {
    flex-direction: column;
  }

  .animal-medical-data-container {
    width: $full-size !important;
    margin-top: 1rem !important;
  }

  .animal-med-history-content {
    display: block !important;
  }

  .animal-data-container {
    width: $full-size !important;
    border-right: none !important;
    border-bottom: $border;
  }

  .schedule-button {
    width: $full-size !important;
    flex-direction: column;
  }

  .schedule-button button {
    width: $full-size !important
  }

  .add-history-container {
    display: block !important;
  }

  .add-history-container input {
    width: $full-size !important;
    margin-bottom: 0.5rem !important;
  }

  //  confirmation modal
  .button-container {
    flex-direction: column;
    width: $full-size !important;
  }

  .button-container button {
    width: $full-size !important;
  }
  // todo refactor css?
  // schedule
  .schedule-container {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .out-of-office-container {
    width: $m-full-size !important;
    margin: 0 auto;
  }

  .out-of-office-content {
    flex-direction: column;
  }

  .save-out-of-office {
    justify-content: center !important;
  }

  .save-out-of-office button, .schedule-day, .time-inputs {
    width: $full-size !important;
  }
  .schedule-day {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .schedule-day-row {
    flex-direction: column;
  }

  .time-inputs {
    display: block !important;
  }

  .time-inputs input {
    width: 15% !important;
  }

  .schedule-btn-container {
    width: $m-full-size !important;
  }

  .schedule-btn {
    width: $full-size !important;
    left: 0 !important;
  }

  //   my profile
  .my-profile-container {
    width: $full-size!important;
  }

  .photo-container {
    width: 7rem!important;
    height: 7rem!important;
    margin-right: 1rem!important;
  }
}


///* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
//@media (min-width: 481px) {
//
//}
//
//@media (min-width: 641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
//}
//
//@media (min-width: 961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
//}

@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) { /* hi-res laptops and desktops */
}

//# Desktop
//only screen and (min-width: 992px)
//
//# Huge
//  only screen and (min-width: 1280px)
