//start colors
.bg-main {
  background: $bg-main-color;
}

.bg-alternative {
  background: $bg-alternate-color;
}

.bg-second-color {
  background: $second-color;
}

.error-msg {
  color: $error-color;
  font-size: $fs-link;
}

.success-msg {
  color: $success-msg-color;
  font-size: $fs-link;
}

.button--active {
  background: $first-color;
  color: $bg-main-color;
}

.button--active:hover {
  background: $first-color;
  font-size: 1.1rem;
  color: $bg-main-color;
}

.button--incative {
  background: $bg-main-color;
  border: $border;
}

.button--incative:hover {
  font-size: 1.1rem;
}

.modal-close-icon {
  color: $first-color;
}


//end colors

//start input
.input-checkbox:hover {
  cursor: pointer;
}

//end input

//start anchor
.highlighted-link {
  color: cornflowerblue;
}

a {
  text-decoration: none;
  color: $text-color;
  font-size: $fs-link;
}

a:hover {
  cursor: pointer;
}

.highlighted-link:hover {
  text-decoration: underline $border-color;
}

.pointer:hover {
  cursor: pointer
}

.link--active {
  color: $error-color;
}

//end anchor

//start border
.border-with-radius {
  border: $border;
  border-radius: $border-radius;
}

.vet-border {
  border: $border;
}

.vet-border-right {
  border-right: $border;
}

.vet-border-top-bottom {
  border-top: $border;
  border-bottom: $border;
}

.vet-border-bottom {
  border-bottom: $border;
}

//end border

//start text
.main-title {
  font-size: $fs-title;
  font-weight: $bold-title;
}

.section-title {
  font-size: $fs-section-title;
  font-weight: $bold-subtitle;
  margin-bottom: $mb-section-title;
}

.bold-text {
  font-size: $fs-small-subtitle;
  font-weight: $bold-subtitle;
}

.section-subtitle {
  font-size: $fs-small-subtitle;
  margin-bottom: $mb-section-small-subtitle;
}

.list-style-type-none {
  list-style-type: none;
}

span[class^="icon"] {
  font-size: $fs-text;
}

span[class^="icon"]:hover {
  cursor: pointer;
}

//end text

//start display
.hide {
  display: none;
}

//end display

.hover-button-active-state:hover {
  color: $error-color;
}

.canceled-card {
  background: rgb(250, 227, 227);
}

