<div class="vet-container vet-content d-flex justify-content-between article-section-container">
  <div class="img-container bg-alternative article-section-img-container">
    <img
      class="article-image"
      src="../../../assets/photos/animals.svg"
      alt="Image with something"
    />
  </div>
  <div class="article-container">
    <div class="m-btn-dialog-row">
      <app-article-section-text [articleSectionTextData]="articleSectionTextData"></app-article-section-text>
    </div>
    <app-article-section-steps
      [articleStepsData]="articleStepsData"
    ></app-article-section-steps>
  </div>
</div>
