<div class="p-container">
  <div class="header-container d-flex col-flex-col-center">
    <div class="header-content">
      <div class="header-text mb-5">
        <h2 class="text-center main-title">{{ headerText.title }}</h2>
        <p class="text-center p-subtitle">{{ headerText.subtitle }}</p>
      </div>
      <div class="header-btn-container d-flex justify-content-center">
        <button type="button" class="btn button--active">
          {{ headerText.buttonText }}
        </button>
      </div>
    </div>
  </div>
</div>
