<div class="p-bottom-top-small">
  <form [formGroup]="animalFormGroup" (ngSubmit)="onAnimalFormSubmit()">
    <label>{{animalFormText?.labels.nameLabel}}</label>
    <input formControlName="name" type="text"
           class="m-btn-dialog-row form-control" [placeholder]="animalFormText?.placeholders.namePlaceholder">
    <label>{{animalFormText?.labels.birthDayLabel}}</label>
    <div class="d-flex justify-content-between">
      <input matInput class="form-control" [matDatepicker]="birthDayPicker" [max]="maxDate" formControlName="birthDay"
             [placeholder]="animalFormText?.placeholders.birthDayPlaceholder">
      <mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
      <mat-datepicker #birthDayPicker color="accent"></mat-datepicker>
    </div>
    <label>{{animalFormText?.labels.ageLabel}}</label>
    <input formControlName="age" type="number" [max]="99"
           class="m-btn-dialog-row form-control" [placeholder]="animalFormText?.placeholders.agePlaceholder">
    <label>{{animalFormText?.labels.weightLabel}}</label>
    <input formControlName="weight" type="number" [max]="999"
           class="m-btn-dialog-row form-control" [placeholder]="animalFormText?.placeholders.weightPlaceholder">
    <div>
      <label>{{animalFormText?.labels.femaleLabel}}</label>
      <input type="checkbox" class="mx-2" (click)="toggleAnimalSex(true)" [(ngModel)]="isAnimalOfFeminineSex" [ngModelOptions]="{standalone: true}">
      <label>{{animalFormText?.labels.masculineLabel}}</label>
      <input type="checkbox" class="mx-2" (click)="toggleAnimalSex(false)" [(ngModel)]="isAnimalOfMasculineSex" [ngModelOptions]="{standalone: true}">
    </div>
    <label>{{animalFormText?.labels.isSterilizedLabel}}</label>
    <input type="checkbox" class="mx-2" [(ngModel)]="isAnimalSterilized" [ngModelOptions]="{standalone: true}">
    <p class="error-msg m-top-small" *ngIf="isErrorDisplayed">{{errorMessage}}</p>
    <div class="d-flex justify-content-end">
      <button [disabled]="!animalFormGroup.valid" class="btn button--active"
              type="submit">{{animalFormText.buttonText}}</button>
    </div>
  </form>
</div>
