.col-element {
  width: 48%;
}
.services-container {
  overflow-y: scroll;
  max-height: 25rem;
  overflow-x: hidden;
}
.service-name {
  width: 70%;
  align-self: center;
}

.service-checkbox {
  width: 10%;
}
