<div class="dialog-container bg-alternative p-around">
  <div class="schedule-button d-flex justify-content-end m-btn-dialog-row">
    <p class="my-auto mx-2 text-center">Reprogrameaza in :</p>
    <button class="btn btn-light close-btn small-button me-2" (click)="addRecurrentAppointment('day')">1 zi</button>
    <button class="btn btn-light close-btn small-button me-2" (click)="addRecurrentAppointment('week')">1 saptamana
    </button>
    <button class="btn btn-light close-btn small-button me-2" (click)="addRecurrentAppointment('month')">1 luna</button>
    <button class="btn btn-light close-btn small-button me-2" (click)="addRecurrentAppointment('year')">1 an</button>

    <button class="btn button--active me-2" (click)="addNewAppointment()">Programare noua</button>
    <button class="btn btn-light close-btn me-2" (click)="openConfirmationModalModal()">Anuleaza programarea</button>
    <button class="btn button--active small-button" (click)="closeAppointmentDetails()">X</button>
  </div>
  <div class="user-animal-data-container d-flex justify-content-between">
    <!--  ANIMAL GENERAL DATA -->
    <div class="animal-data-container vet-border-right">
      <div class="vet-border-bottom">
        <p>{{userAnimalData?.userData?.name}}</p>
        <p>{{userAnimalData?.appointment?.phone}}</p>
        <div class="animal-info d-flex">
<!--          //FOR MULTIPLE ANIMALS-->
<!--          <p class="bold-text me-2">{{userAnimalDialog.ownersPets}}</p>-->
<!--          <div class="d-flex flex-wrap" #animalsParent>-->
<!--            <p class="me-2 pointer hover-button-active-state"-->
<!--               (click)="getAndSetAnimalData($event, userAnimalData.animalData.id)">{{userAnimalData.animalData.name}}</p>-->
<!--          </div>-->
        </div>
      </div>
      <div class="m-top-small">
        <div class="animal-data">
          <p class="me-2">{{userAnimalDialog.name}}</p>
          <p>{{userAnimalData?.animalData?.name}}</p>
        </div>
        <div class="animal-data">
          <p class="me-2">{{userAnimalDialog.age}}</p>
          <p>{{userAnimalData?.animalData?.age}}</p>
        </div>
        <div class="animal-data">
          <p class="me-2">{{userAnimalDialog.weight}}</p>
          <p>{{userAnimalData?.animalData?.weight}}</p>
        </div>
        <div class="animal-data">
          <p class="me-2">{{userAnimalDialog.bloodType}}</p>
          <p>{{userAnimalData?.animalData?.bloodType}}</p>
        </div>
        <div class="animal-data">
          <p class="me-2">{{userAnimalDialog.birthDay}}</p>
          <p>{{userAnimalData?.animalData?.birthDay}}</p>
        </div>
      </div>
    </div>
    <!--  ANIMAL RECOMMENDATION AND MEDICAL HISTORY -->
    <div class="animal-medical-data-container">
      <div class="m-btn-dialog-row">
        <div class="animal-med-history-content d-flex justify-content-between">
          <p class="bold-text">{{userAnimalDialog.animalDiseases}}</p>
          <div class="d-flex add-btn hover-button-active-state" (click)="showDiseaseInput()">
            <p>{{userAnimalDialog.addDisease}}</p>
            <span class="icon-plus px-2"></span>
          </div>
        </div>
        <div>
          <ul>
            <div *ngIf="isAddDiseaseEnabled" class="add-history-container m-btn-small d-flex justify-content-between">
              <input [(ngModel)]="newDisease" class="form-control action-input" type="text"
                     [placeholder]="userAnimalDialog.editInputPlaceholder">
              <div>
                <span class="px-2 action-icon mr-2 pointer" (click)="addDisease()">Salveaza<span
                  class="icon-check"></span></span>
                <span class="px-2 action-icon pointer" (click)="hideDiseaseInput()">Cancel <span
                  class="icon-close"></span></span>
              </div>
            </div>
            <div>
              <div *ngFor="let disease of userAnimalData?.animalMedicalHistory?.diseases"
                   class="d-flex justify-content-between recommendation-container">
                <div class="dialog-list-container">
                  <li #diseaseItem class="dialog-list-item list-style-type-none">{{disease}}</li>
                  <input #editInput [(ngModel)]="newDisease"
                         class="form-control action-input dialog-list-item m-btn-small hide" type="text"
                         [placeholder]="userAnimalDialog.editInputPlaceholder">
                  <li class="hide list-style-type-none error-msg m-btn-small"
                      #errorElem>{{userAnimalDialogErrorTxt.noChangeDetected}}</li>
                </div>
                <div>
              <span class="icon-pencil px-2 action-icon" #editIcon
                    (click)="toggleEditInputAndListItem(true, editIcon, editInput, errorElem, checkIcon, closeInputIcon, diseaseItem)"></span>
                  <span class="icon-check px-2 action-icon hide" #checkIcon
                        (click)="editDisease(editIcon, editInput, errorElem, checkIcon, closeInputIcon, diseaseItem)"></span>
                  <span class="icon-close px-2 action-icon hide" #closeInputIcon
                        (click)="toggleEditInputAndListItem(false, editIcon, editInput, errorElem, checkIcon, closeInputIcon, diseaseItem)"></span>
                  <span class="icon-trash hover-button-active-state" (click)="deleteFromDiseases(disease)"></span>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="m-btn-dialog-row">
        <div class="animal-med-history-content d-flex justify-content-between">
          <p class="bold-text">{{userAnimalDialog.medicalHistory}}</p>
          <div class="d-flex add-btn m-btn-small hover-button-active-state" (click)="showRecommendationInput()">
            <p>{{userAnimalDialog.addRecommendation}}</p>
            <span class="icon-plus px-2"></span>
          </div>
        </div>
        <ul>
          <div *ngIf="isAddRecEnabled" class="add-history-container m-btn-small d-flex justify-content-between">
            <input [(ngModel)]="newRecommendation" class="form-control action-input" type="text"
                   [placeholder]="userAnimalDialog.editInputPlaceholder">
            <div>
              <span class="px-2 action-icon mr-2 pointer" (click)="addRecommendation()">
                Salveza
                <span class="icon-check"></span>
              </span>
              <span class="px-2 action-icon pointer" (click)="hideRecommendationInput()">
                Cancel
                <span class="icon-close"></span>
              </span>
            </div>
          </div>
          <div>
            <div *ngFor="let recommendation of userAnimalData?.animalMedicalHistory?.recommendations"
                 class="d-flex justify-content-between recommendation-container">
              <div class="dialog-list-container">
                <li #diseaseItem class="dialog-list-item list-style-type-none">{{recommendation}}</li>
                <input #editInput [(ngModel)]="newRecommendation"
                       class="form-control action-input dialog-list-item m-btn-small hide" type="text"
                       [placeholder]="userAnimalDialog.editInputPlaceholder">
                <li class="hide list-style-type-none error-msg m-btn-small"
                    #errorElem>{{userAnimalDialogErrorTxt.noChangeDetected}}</li>
              </div>
              <div>
              <span class="icon-pencil px-2 action-icon" #editIcon
                    (click)="toggleEditInputAndListItem(true, editIcon, editInput, errorElem, checkIcon, closeInputIcon, diseaseItem)"></span>
                <span class="icon-check px-2 action-icon hide" #checkIcon
                      (click)="editRecommendations(editIcon, editInput, errorElem, checkIcon, closeInputIcon, diseaseItem)"></span>
                <span class="icon-close px-2 action-icon hide" #closeInputIcon
                      (click)="toggleEditInputAndListItem(false, editIcon, editInput, errorElem, checkIcon, closeInputIcon, diseaseItem)"></span>
                <span class="icon-trash hover-button-active-state"
                      (click)="deleteFromRecommendation(recommendation)"></span>
              </div>
            </div>
          </div>

        </ul>
      </div>
    </div>
  </div>
</div>
