@import 'src/app/scss/constants';

.auth__dialog::-webkit-scrollbar {
  display: none;
}

.auth__dialog {
  position: relative;
  background: $bg-alternate-color;
}

.login-form {
  width: 27%;
  margin: 0 auto;
}
