@import './src/app/scss/constants';
.auth__dialog::-webkit-scrollbar {
  display: none;
}

.auth__dialog {
  position: relative;
  background: $bg-alternate-color;
}

.login-form {
  width: 27%;
  margin: 0 auto;
}
/*//.image_container {*/
/*  //  width: 90px;*/
/*  //  height: 30px;*/
/*  //  position: absolute;*/
/*  //  bottom: 0;*/
/*  //  right: 0;*/
/*  //}*/
/*//*/
/*//.image_container img {*/
/*  //  width: 100%;*/
/*  //}*/
