<div id="container" class="auth__dialog vet-container d-flex align-content-center justify-content-center">
  <div class="signup-content" *ngIf="isAllowedToGoToFirstStep">
    <p class="section-subtitle text-center m-btn-dialog-row"><strong>{{signupText?.title}}</strong></p>
    <p class="card-text text-center" *ngIf="!!signupText?.subtitle">{{signupText?.subtitle}}</p>
    <div class="m-btn-dialog-row">
      <form class="sign-up-form mg-bottom" [formGroup]="authFormGroup" (ngSubmit)="firstStepOnFormSubmit()">
        <div class="input-container d-flex justify-content-between">
          <div class="col-element">
            <label>{{signupText?.labels.emailLabel}}</label>
            <input formControlName="email" type="email"
                   class="m-btn-dialog-row form-control mr-2" [placeholder]="signupText?.emailPlaceholder">
          </div>
          <div class="col-element">
            <label>{{signupText?.labels.passwordLabel}}</label>
            <input formControlName="password" type="password"
                   class="m-btn-dialog-row form-control" [placeholder]="signupText?.passwordPlaceholder">
          </div>
        </div>
        <div class="input-container d-flex justify-content-between">
          <div class="col-element">
            <label>{{signupText?.labels.doctorNameLabel}}</label>
            <input formControlName="name" type="text"
                   class="m-btn-dialog-row form-control mr-2" [placeholder]="signupText?.namePlaceholder">
          </div>
          <div class="col-element">
            <label>{{signupText?.labels.phoneLabel}}</label>
            <input formControlName="phoneNumber" type="text" maxlength="10"
                   class="m-btn-dialog-row form-control" [placeholder]="signupText?.phonePlaceholder">
          </div>
        </div>
        <label>{{signupText?.labels.countyLabel}}</label>
        <app-dropdown (valueEmitter)="setCountyAndSetLocalities($event)" [placeholder]="signupText?.county"
                      [seriesList]="counties"></app-dropdown>
        <label>{{signupText?.labels.localityLabel}}</label>
        <app-dropdown (valueEmitter)="setLocality($event)" [placeholder]="signupText?.locality"
                      [seriesList]="localities"></app-dropdown>
        <label>{{signupText?.labels.locationLabel}}</label>
        <input formControlName="address" type="text"
               class="m-btn-dialog-row form-control" [placeholder]="signupText?.address">

        <div class="m-btn-dialog-row d-flex justify-content-between">
          <a *ngIf="!signupText?.isLogin" class="txt--underline"
             (click)="resendValidationEmail()">{{signupText?.emailValidationTxt}}</a>
        </div>
        <li *ngIf="isErrorMessage"
            class="m-btn-dialog-row error-msg list-style-type-none">{{signupText?.formErrorMessage}}</li>
        <div class="sign-up-btn-first-step d-flex justify-content-center">
          <button type="submit" class="btn button--active"
                  [disabled]="isFormCompleted()">{{signupText?.step1}}</button>
        </div>
      </form>
    </div>
  </div>

  <!--  STEP 2-->
  <div *ngIf="isAllowedToGoToSecondStep">
   <p class="section-subtitle m-btn-dialog-row"><strong>{{signupText?.secondStepTitle}}</strong></p>
    <p class="card-text m-btn-dialog-row" *ngFor="let step of secondStepGuide">{{step}}</p>
    <app-upload-photo (fileEmitter)="getUploadedImage($event)"></app-upload-photo>
    <div class="d-flex justify-content-around">
      <button class="btn button--active mr-2"
              (click)="goBackToPreviousStep(1)">Pasul anterior</button>
      <button [disabled]="isPhotoUploaded" class="btn button--active"
              (click)="goToServicesStep()">{{signupText?.step2}}</button>
    </div>
  </div>

  <!--  STEP 3-->

  <div *ngIf="isAllowedToGoToThirdStep">
    <h2>{{signupText?.thirdStepTitle}}</h2>
    <div class="services-container mt-4 mb-4 vet-border-top-bottom pt-1 pb-1">
      <div class="mb-4" *ngFor="let serviceObj of servicesUI | keyvalue">
        <h4>{{serviceObj.value.serviceName}}</h4>
        <div class="row" *ngFor="let serviceDesc of serviceObj.value.services">
          <span class="service-name col-10">{{serviceDesc[0]}}</span>
          <div class="col-2 service-checkbox">
            <input type="checkbox" (click)="toggleServiceSelection(serviceDesc[0], serviceObj.value.serviceName)"/>
          </div>
        </div>
      </div>
    </div>
    <p class="error-msg text-center" *ngIf="isErrorMessage">{{errorMessage}}</p>
    <div class="d-flex justify-content-around">
      <button class="btn button--active mr-2"
              (click)="goBackToPreviousStep(2)">Pasul anterior</button>
      <button class="btn button--active"
              (click)="signupWithEmailAndPassword()"
              [disabled]="isSignUpButtonDisabled()">{{signupText?.step3}}</button>
    </div>
  </div>
</div>
