@import "src/app/scss/constants";
@import "src/app/scss/skin.scss";
@import "src/app/scss/structure";

html, body {
  height: $full-size;
}

body {
  margin: 0;
  color: $text-color;
  line-height: $lh-text;
  font-family:Raleway-Bold,Helvetica,"Helvetica Neue",sans-serif!important;
}

p {
  font-size: $fs-text;
}

button {
  line-height: $lh-btn;
}

input:focus {
  // overrides focus for input elements
  box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
