@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "src/app/scss/constants";
@import "src/app/scss/skin.scss";
@import "src/app/scss/structure";
@import "src/app/scss/media-mobile";

html, body {
  height: $full-size;
}

body {
  margin: 0;
  color: $text-color;
  line-height: $lh-text;
  font-family: Raleway-Bold, Helvetica, "Helvetica Neue", sans-serif !important;
}

p {
  font-size: $fs-text;
}

button {
  line-height: $lh-btn;
}

input:focus {
  // overrides focus for input elements
  box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%) !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// datepicker from appointment dialog
.mat-datepicker-toggle-default-icon {
  color: #ed553b !important;
}

.user-animal-details-dialog .mat-dialog-container,
.user-without-account-details-dialog .mat-dialog-container {
  background: $bg-alternate-color !important;
}

.snackbar-error {
  color: #000;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.snackbar-success {
  color: #fff;
  background-color: #1db954;
  border-color: #c3e6cb;
}

.mat-progress-spinner svg {
  position: relative !important;
}

.cal-month-view .bg-pink,
.cal-week-view .cal-day-columns .bg-pink,
.cal-day-view .bg-pink {
  background-color: hotpink !important;
  pointer-events: none!important;
  //opacity: 0.4;
}
