<div class="navbar-container d-flex flex-column justify-content-center">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between vet-content">
    <a class="navbar-brand" href="#">Logo here</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown" *ngIf="isUserLoggedIn">
          <a class="nav-link" (click)="openAppointmentsModal()"><span
            class="icon-plus px-2"></span>{{navbarText.createAppointment}}</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isUserLoggedIn">
          <a class="nav-link"><span
            class="icon-user-follow px-2"></span>{{navbarText.newAccount}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> <span class="icon-home px-1"></span>{{navbarText.home}}</a>
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link" routerLink="/appointments"><span
            class="icon-people px-2"></span>{{navbarText.appointments}}</a>
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link" routerLink="/schedule"><span class="icon-clock px-2"></span>{{navbarText.schedule}}</a>
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link" routerLink="/profile"><span
            class="icon-settings px-2"></span>{{navbarText.myProfile}}</a>
        </li>
        <li class="nav-item" routerLink="/login-doctor" *ngIf="!isUserLoggedIn">
          <a class="nav-link"><span class="icon-login px-2"></span>{{navbarText.signIn}}</a>
        </li>
        <li class="nav-item" (click)="openSignupDialog()" *ngIf="!isUserLoggedIn">
          <a class="nav-link"><span class="icon-user px-2"></span>{{navbarText.signUp}}</a>
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn" (click)="signOut()">
          <a class="nav-link"><span class="icon-power px-2"></span>{{navbarText.signOut}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
