<div class="vet-container">
  <div class="vet-content">
    <div class="p-around d-flex">
      <div class="search-appointment-sidebar">
        <p><strong>Selecteaza un animal</strong></p>
        <div class="m-btn-small" *ngFor="let animal of user.animals; let i=index; first as isFirst">
          <p class="d-flex justify-content-start pointer" [class.link--active]="isAnimalSelected" (click)="setAnimalToDoAppointment(animal)">{{animal.animalName}}</p>
        </div>
        <p><strong>Cauta doctor</strong></p>
        <form>
          <div class="m-btn-small">
            <label>Alege judet</label>
            <app-dropdown (valueEmitter)="setCountyAndSetLocalities($event)" [placeholder]="'Alege judetul'"
                          [seriesList]="counties"></app-dropdown>
          </div>
          <div class="m-btn-small">
            <label>Alege Localitatea</label>
            <app-dropdown (valueEmitter)="setLocality($event)" [placeholder]="'Alege localitatea'"
                          [seriesList]="localities"></app-dropdown>
          </div>
          <!--          <div class="m-btn-small">-->
          <!--            <label>{{ userAppointmentFormText.dateLabel }}</label>-->
          <!--            <div class="d-flex">-->
          <!--              <input matInput class="form-control" [min]="minDate" [matDatepicker]="picker" formControlName="startDate"-->
          <!--                     [placeholder]="userAppointmentFormText.dateFormat">-->
          <!--              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
          <!--            </div>-->
          <!--            <mat-datepicker #picker color="accent"></mat-datepicker>-->
          <!--          </div>-->
          <p class="error-msg" *ngIf="isErrorDisplayed">{{errorMessage}}</p>
          <div class="m-btn-small d-flex justify-content-end">
            <button class="btn button--active" (click)="searchDoctorsByCountyAndLocation()"
                    [disabled]="isSearchByLocationDisabled()">Cauta medici
            </button>
          </div>
        </form>
      </div>
      <div class="p-left " *ngIf="isSearchByUserSuccessAndEmpty">
        <p><strong>Nu a fost gasit nici un user pentru aceasta localitate</strong></p>
      </div>
      <div class="p-left d-flex justify-content-between user-appoinment-card-container" *ngIf="isSearchByUserSuccess">
        <app-user-create-app-card class="doctor-card" *ngFor="let doctor of doctorList" [doctor]="doctor"
                                  (createAppointmentEmitter)="createAppointment($event)"></app-user-create-app-card>
      </div>
    </div>
  </div>
</div>
