.footer__form__container {
  width: 40%;
  height: auto;
}

.bgImgCenter{
  background-image: url('../../../../assets/photos/animals-paws.png');
  background-repeat: no-repeat;
  background-position: bottom; 
  position: relative;
  background-size: contain;
}